<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Micro Frontends</title>
</head>
<body>
    <h1>Micro Frontend - Python</h1>
    <p>Info: {{ info.Running_port }}</p>
    <p>AddressName: {{ info.Address_name }}</p>
    <p>RunURL: {{ info.Run_Script }}</p>
    <p>Position: {{ info.Position }}</p>

    <h1>React Service Call</h1>
    <iframe src="http://localhost:3000" style="width:100%; height:500px; border:none;"></iframe>
</body>
</html>